.image-catalog {
  display: flex;
  flex-direction: column;
  width: 500px;

  .spinner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .loading-text {
      color: var(--primary);
      font-size: 12px;
    }
  }


  &_align-spinner {
    align-items: center;
  }

  @media (max-width: 600px) {
    width: 100%;
  }

  .featured {
    margin-bottom: 24px;
    height: 500px;
    width: 500px;
    display: none;

    &_loaded {
      display: block;
    }

    @media (max-width: 600px) {
      width: calc(100% - 16px);
      height: calc(100% - 16px);
      margin: 0 auto;
      margin-bottom: 24px;
    }
  }

  .items {
    display: flex;
    align-items: center;
    justify-content: space-between;


    .option {
      height: 56px;
      width: 56px;
      padding: 4px;
      transition: 0.1s ease-in-out;
      display: none;
      
      &_loaded {
        display: block;
      }

      @media (max-width: 600px) {
        width: 32px;
        height: 32px;
      }

      &_selected {
        box-shadow: 0 0 0 1.5px #fff, 0 0 0 3px #123f76;
        border-radius: 2px;
      }

      &:hover {
        border-radius: 2px;
        cursor: pointer;
      }

    }
  }
}