.welcome {
  display: flex;
  position: relative;
  justify-content: center;
  color: black;
  left: 0;
  height: calc(100vh - 146px);
  width: 100%;


  @media (max-width: 1050px) {
    height: 734.5px;
  }

  .bg-fill {
    position: absolute;
    width: 100vw;
    height: 100%;

    #particle-container {
      opacity: 0;
      transition: 0.3s ease-in-out;

      &.active {
        opacity: 1;
      }
    }

    .particle {
      position: absolute;
      border-radius: 50%;
    }

    @for $i from 1 through 30 {
      @keyframes particle-animation-#{$i} {
        100% {
          transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
        }
      }

      .particle:nth-child(#{$i}) {
        animation: particle-animation-#{$i} 60s infinite;
        $size: random(5) + 5 + px;
        opacity: random(100)/100;
        height: $size;
        width: $size;
        animation-delay: -$i * .2s;
        transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
        background: hsl(random(360), 70%, 50%);
      }
    }
  }

  .content-container {
    display: flex;
    width: 100%;

    @media (max-width: 1249px) {
      flex-direction: column;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    @media (max-width: 1249px) {
      align-items: center;
      text-align: center;

      &:last-child {
        padding-bottom: 48px;
      }
    }

    flex: 1;

    &:first-child {
      flex: 2;
    }
  }

  .alert-banner {
    display: inline-block;
    margin-top: 56px;
    padding: 15px 20px;
    border-radius: 4px;
    animation: backgroundAnimate 1s forwards infinite;
    font-size: 16px;
    align-items: center;
    text-align: center;

    @media (max-width: 800px) {
      padding: 12px 14px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
      padding: 12px 6px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      cursor: pointer;
    }

    span {
      color: var(--primary);
      font-weight: 700;

      .discount {
        font-size: 100px;
      }
    }

    .trending {
      color: var(--error);
    }
  }

  .button {
    opacity: 0;
    transform: translateX(1000px);
    transition: 0.3s ease-in-out;
    margin-top: 24px;
  }

  .button.active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  .site-header {
    color: black;
    font-size: 18px;
    opacity: 0;
    transform: translate3d(-1000px, 0, 0);
    transition: 0.3s ease-in-out;

    .title {
      font-weight: 700;
      font-size: 48px;
      margin-bottom: 8px;

      @media (max-width: 600px) {
        font-size: 36px;
      }

      @media (max-width: 400px) {
        font-size: 30px;
      }
    }
  }

  .site-header.active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  .site-icon {
    width: 40px;
    height: 40px;
    margin-left: 16px;

    @media (max-width: 800px) {
      width: 30px;
      height: 30px;
    }

    @media (max-width: 600px) {
      width: 20px;
      height: 20px;
      margin-left: 12px;
    }
  }

  .site-desc {
    display: flex;
    align-items: center;
    opacity: 0;
    font-size: 18px;
    transition: 0.3s ease-in-out;
    transform: translateY(-1000px);
    color: rgba($color: black, $alpha: 0.5);

    @media (max-width: 600px) {
      font-size: 12px;
    }

    @media (max-width: 1249px) {
      justify-content: center;
    }

    span {
      color: var(--primary);
      font-weight: 700;
      margin: 0 4px;
    }
  }

  .site-desc.active {
    transform: translateY(0);
    opacity: 1;
  }

  .bg-fill {
    width: 100vw;
    position: absolute;
    height: 100%;
    z-index: -2;
  }
}

@keyframes backgroundAnimate {
  0% {
    background-color: rgba($color: black, $alpha: 0.05);
  }

  50% {
    background-color: rgba($color: black, $alpha: 0.1);
  }

  100% {
    background-color: rgba($color: black, $alpha: 0.05);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.hyphen {
  width: 50px;
  height: 2px;
  background: rgba($color: black, $alpha: 0.5);
  margin-right: 8px;

  @media (max-width: 1259px) {
    display: none;
  }
}