ol {
  padding-left: 24px;
  color: var(--secondary);

  li {
    font-size: 24px;
  }
}

.affiliate-form {
  box-shadow: 0 0 3px 1px rgb(211, 211, 211);
  padding: 20px;
  border-radius: 8px;

  .login-here {
    color: blue;
  }

  .help-text {
    margin-bottom: 12px;
    font-size: 12px;
  }
}