.cart {
  margin: 36px 0;
  min-height: 296px;
  position: relative;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1050px) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 600px) {
    padding: 24px 0;
  }

  &_summary {
    background: rgb(245, 245, 245);
    margin-left: 12px;
    padding: 20px;
    border-radius: 4px;
    margin-left: 24px;

    @media (max-width: 1050px) {
      margin-left: 0;
      margin-top: 24px;
      width: 500px;
    }

    @media (max-width: 556px) {
      width: calc(100% - 48px);
    }

    .compare-at {
      color: black;
      text-decoration: line-through;
    }

    .promo {
      opacity: 0;
      transition: 0.2s ease-in-out;
      height: 0;
      
      &_active {
        transition: 0.2s ease-in-out;
        opacity: 1;
        height: 27.5px;
      }
    }
    
    .section {
      padding: 24px 0;
      position: relative;
      opacity: 1;
      transition: 0.2s ease-in-out;
      
      &_inactive {
        transition: 0.2s ease-in-out;
        padding: 0;
        position: absolute;
        opacity: 0;
      }
    }
  }

  .spinner-wrapper {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .title {
    font-weight: 700;
    font-size: 32px;

    &_sub {
      font-size: 26px;
    }

    @media (max-width: 700px) {
      text-align: center;
    }
  }

  .bold-text{
    color: var(--primary);
    font-weight: 700;
    font-size: 18px;
  }

  .actions {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    margin-top: 48px;

    @media (max-width: 600px) {
      justify-content: center;
    }
  }

  .flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}