.faq {
  .header {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 24px;
    color: var(--primary)
  }

  .title {
    font-size: 56px;
    margin: 24px 0;
    text-align: center;
  }

  .desc {
    margin-bottom: 48px;
  }
}