.mt-24 {
  margin-top: 24px;
}

.mt-48 {
  margin-top: 48px;
}

.ml-24 {
  margin-left: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-48 {
  margin-bottom: 48px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-24 {
  margin-left: 24px;
}